
        .slider-color-1 .rc-slider-track { background-color: hsl(0, 40%, 40%); }
        .slider-color-1 .rc-slider-handle { border-color: hsl(0, 40%, 40%); }
        
        .slider-color-2 .rc-slider-track { background-color: hsl(45, 40%, 40%); }
        .slider-color-2 .rc-slider-handle { border-color: hsl(45, 40%, 40%); }
        
        .slider-color-3 .rc-slider-track { background-color: hsl(90, 40%, 40%); }
        .slider-color-3 .rc-slider-handle { border-color: hsl(90, 40%, 40%); }
        
        .slider-color-4 .rc-slider-track { background-color: hsl(135, 40%, 40%); }
        .slider-color-4 .rc-slider-handle { border-color: hsl(135, 40%, 40%); }
        
        .slider-color-5 .rc-slider-track { background-color: hsl(180, 40%, 40%); }
        .slider-color-5 .rc-slider-handle { border-color: hsl(180, 40%, 40%); }
        
        .slider-color-6 .rc-slider-track { background-color: hsl(225, 40%, 40%); }
        .slider-color-6 .rc-slider-handle { border-color: hsl(225, 40%, 40%); }
        
        .slider-color-7 .rc-slider-track { background-color: hsl(270, 40%, 40%); }
        .slider-color-7 .rc-slider-handle { border-color: hsl(270, 40%, 40%); }
        
        .slider-color-8 .rc-slider-track { background-color: hsl(315, 40%, 40%); }
        .slider-color-8 .rc-slider-handle { border-color: hsl(315, 40%, 40%); }
        